* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.messages {
    width: 100vw;
    height: 75vh;
}
.form_section {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.hidden {
    display: none;
}